@{
    ViewBag.Title = Resource.ReviewReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .colSrno {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }

    .colPosition {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
</style>
<script>
    function getCurrentYear() {
        return new Date().getFullYear().toString();
    }
</script>
<div ng-controller="ReviewReportCtrl" novalidate>
    <!-- start title section-->
    <div class="main-page-title title-icon relative l">
        <i class="ti-id-badge icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.MonthlyEHSPerformacereviewreport</h4>
        <!-- start button-->
        <div class="pull-right">
            @*<button type="button" class="btn btn-success btn-xs waves-effect" ng-click="createReport()">
                    <i class="fa fa-file-excel-o m-r-5"></i>@Resource.ExportToExcel
                </button>*@
        </div>
        <!-- end button-->
    </div>
    <!-- end title section-->
    <!-- start body section-->
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <!-- start designation form -->
                <form name="frmDesignations" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtVertical">
                                    @Resource.Vertical
                                </label>
                                <div class="input-group">
                                    <select class="form-select" ng-model="ReviewReportDetailScope.VerticalId" name="txtVertical" id="txtVertical" ng-init="Verticallist()" tabindex="1" 
                                            ng-options="verticallists.Id as Verticallists.Name for Verticallists in Vertical">
                                        <option value="">Select Vertical</option>
                                        <!-- Add other options here -->
                                    </select>
                                </div>
                                <div class="label label-danger" data-ng-show="frmDesignations.txtVertical.$dirty && frmDesignations.txtVertical.$invalid">
                                    <span data-ng-show="frmDesignations.txtVertical.$error.required">@Resource.DesignationRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtCompanyName">
                                    @Resource.Project
                                </label>
                                <div class="input-group">
                                    <select class="form-select" name="txtCompanyName" id="txtCompanyName" tabindex="1">
                                        <option value="">Select Project</option>
                                        <!-- Add other options here -->
                                    </select>
                                </div>
                                <div class="label label-danger" data-ng-show="frmDesignations.txtCompanyName.$dirty && frmDesignations.txtCompanyName.$invalid">
                                    <span data-ng-show="frmDesignations.txtCompanyName.$error.required">@Resource.DesignationRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtdoj">
                                    @Resource.Month_Year
                                </label>
                                <div class="input-group">
                                    <input type="month" class="form-control" id="txtdoj" ng-focus="true" name="txtdoj" required tabindex="1" placeholder="mm-yyyy" min="{{getCurrentYear()}}-01" max="{{maxDate | date:'yyyy-MM'}}">
                                </div>
                                <div class="label label-danger" data-ng-show="frmDesignations.txtdoj.$dirty && frmDesignations.txtdoj.$invalid">
                                    <span data-ng-show="frmDesignations.txtdoj.$error.required">@Resource.DesignationRequired</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end body section-->
</div>
@section scripts {
    @Scripts.Render("~/bundles/MISReporting/ReviewReport")
}
