@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
</style>
<div ng-controller="AccountCtrl" ng-init="Company()">
    <div class="container forget-password-container">
        <div>
            <div class="row mx-2">
                <div class="col-md-6 forgot-img-div">
                    <img src="~/Content/images/forgotpass.svg" class="img-fluid" />
                </div>
                <div class="col-md-6 ps-lg-5 ps-md-5 forgot-div">
                    <div ng-if="showallpage">
                        <h1 class="forgot-head">Forgot Password??</h1>
                        <p>Enter your Email for verification process. A 6-digit verification code will be send to your email.</p>
                        <div class="col-md-12 mt-5 p-0">
                            <div class="form-group">
                                <label class="form-label">
                                    @Resource.EmailId <span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" id="forgetpassword" ng-focus="true" ng-model="forgetpassword.Username" name="forgetpassword" tabindex="1" placeholder="@Resource.UserName" maxlength="250" required>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmEmployeeMaster.forgetpassword.$dirty && frmEmployeeMaster.forgetpassword.$invalid">
                                    <span data-ng-show="frmEmployeeMaster.forgetpassword.$error.required">FullNameRequired</span>

                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-4" tabindex="4" ng-click="forget(forgetpassword.Username)">
                                    @Resource.Sendmail
                                </button>
                            </div>
                        </div>
                        <div ng-if="useremail">
                            <div class="mt-5">
                                <div ng-repeat="asd in Company">
                                    <p class="fw-bold forgot-head">Security Code will be sent to your email id : <h5>{{asd.EmailId}}</h5></p>
                                </div>
                            </div>
                            <br />
                        </div>

                        <form class="mt-2" name="frmLogin" role="form" ng-submit="verifycode(forgetpassword);" novalidate>
                            <div ng-if="showinputcode">
                                <input class="form-control" type="number" pattern="[0-9]*" placeholder="@Resource.Code" ng-model="forgetpassword.SecurityCode" />
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-4" tabindex="4" ng-click="verifycode(forgetpassword.verifycode)">
                                    @Resource.Submit
                                </button>
                            </div>

                        </form>
                    </div>
                    <div ng-if="newpassword">
                        <form name="frmLogin" role="form" ng-submit="updatepassword(forgetnewpassword);" novalidate>
                            <div class="row d-flex align-items-center">
                                <h1 class="forgot-head">Create New Password</h1>
                                <div class="col-md-12 mt-3">
                                    <div class="form-group">
                                        <label class="form-label">
                                            @Resource.ConfirmPassword <span class="required-field">*</span>
                                        </label>
                                        <input type="password" class="form-control" id="forgetpassword" ng-focus="true" ng-model="forgetnewpassword.Password" name="forgetpassword" tabindex="1" placeholder="@Resource.PasswordRequired" maxlength="250" required>
                                        <div class="c">
                                        </div>
                                        <div class="label label-danger" data-ng-show="frmEmployeeMaster.forgetpassword.$dirty && frmEmployeeMaster.forgetpassword.$invalid">
                                            <span data-ng-show="frmEmployeeMaster.forgetpassword.$error.required">FullNameRequired</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="form-group">
                                        <label class="form-label">
                                            @Resource.ConfirmNewPassword <span class="required-field">*</span>
                                        </label>
                                        <input type="password" class="form-control" id="forgetnewpassword" ng-focus="true" ng-model="forgetnewpassword.confirmPassword"
                                               value="{{asd.Id}}"
                                               name="forgetnewpassword" tabindex="1" placeholder="@Resource.PasswordMustBeSame" maxlength="250" required>
                                        <div class="c">
                                        </div>
                                        <div class="label label-danger" data-ng-show="frmEmployeeMaster.forgetpassword.$dirty && frmEmployeeMaster.forgetpassword.$invalid">
                                            <span data-ng-show="frmEmployeeMaster.forgetpassword.$error.required">FullNameRequired</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="login-form-action">

                                    <button type="submit" class="btn btn-primary green-btn mt-3 w-100" tabindex="1">
                                        @Resource.Submit
                                    </button>
                                    <div class="c">
                                    </div>
                                </div>
                                <div class="c">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<br />
<br />
@section Scripts {

    @Scripts.Render("~/bundles/Account")
}